.bg-grey {
    background-color: #eff1f7 ;
    text-align: center;
}
        .About-subtitle {
            display: inline-block;
            border-radius: 10px;
            background-color: #ffffff;
            padding: 62px 30px 60px;
        }
        #ServiceFlaticon {
            font-family: Flaticon;
            font-size: 80px;
            background-image: linear-gradient(0deg, #09c778, #01a0f9);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }


