
.RightColumnintro {
    margin-top: 100px;
}
.mt-100 {
    margin-top: 100px;
}
.singlepost  {
    padding: 40px 25px 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 10px 50px rgba(158, 158, 158, 0.25);
    text-align: center;
}

.mb-15 {
    margin-bottom: 15px;
}
.bigtitle {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
}
    .bigtitle::after {
        display: block;
        position: absolute;
        content: "";
        height: 10px;
        width: 100px;
        background: linear-gradient(90deg, #01a0f9 45%, #09c778 60%);
        top: 24px;
        z-index: -1;
}
.desc {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #666666;
}
.fla {
    font-family: Flaticon;
    font-size: 80px;
    background-image: linear-gradient(0deg, #09c778, #01a0f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    padding: 30px 20px;
}

    .btn > a {
        margin-bottom: 50px;
        padding: 17px 45px;
        text-transform: uppercase;
        border-radius: 25px;
        border:none;
        background: linear-gradient(-41deg, #09c778, #01a0f9);
        color:white;
    }

@media (max-width: 1100px) {}
@media (max-width: 900px) {
    .mt-100 {
        margin-top: 0px;
    }
}
@media (max-width: 700px) {

}