.container > .row {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "lef rig";
}
.container > .row > .LeftColumn {
    grid-area: lef;
}
.container > .row > .RightColumn {
    margin-top: 100px;
    grid-area: rig;
}
.container > .row > .LeftColumn > .twosingleposts  {
    width: 50%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.mt-100 {
    margin-top: 100px;
}
.container > .row > .LeftColumn > .twosingleposts > .singlepost  {
    padding: 40px 25px 25px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 10px 50px rgba(158, 158, 158, 0.25);
    text-align: center;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-15 {
    margin-bottom: 15px;
}
h1 {
    margin-left: 20px;
    color: #333333;
    font-weight: 700;
    line-height: 1.3;
}
p {
    margin-top: 20px;
    margin-left: 20px;
}
.flaticon {
    color: linear-gradient(0deg, #09c778, #01a0f9);
}

@media (max-width: 990px) {
    .container > .row {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "lef"
        "rig";
    }
    .container > .row > .LeftColumn {
        grid-area: lef;
    }
    .container > .row > .RightColumn {
        grid-area: rig;
    }
}
@media (max-width: 760px) {
    .container > .row > .LeftColumn > .twosingleposts  {
        width: 100%;
    }
}