
#contact-info{
    padding: 44px 50px 30px;
    background-color: white;
}


.sng-info-post{
margin-bottom: 35px;    
}

.s-c-icon{

}

.c-icon{
width:30px;

}

[class^="s-c-icon"]:before, [class*="s-c-icon"]:before, [class^="s-c-icon"]:after, [class*="s-c-icon"]:after {
    font-family: Flaticon;
    display: block;
    line-height: 1;
    margin: 6px 0 0;
     width:30px;
    
     font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(0deg, #09c778, #01a0f9);
    height: 100%;
   
}
