.container > .row {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "lef rig";
}
.container > .row > .LeftColumn {
    background-color: aquamarine;
    grid-area: lef;
}
.container > .row > .RightColumn {
    background-color: blueviolet;
    grid-area: rig;
}
.container > .row > .LeftColumn > .twosingleposts  {
    width: 50%;
    float: left;
    background-color: red;
}
.mt-100 {
    margin-top: 100px;
}
.container > .row > .LeftColumn > .twosingleposts > .singlepost  {
    padding: 40px 25px 25px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    background-color: crimson;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-15 {
    margin-bottom: 15px;
}