/* https://www.w3schools.com/howto/howto_custom_select.asp */
#container-main{
    padding: 0px 0px;
}

.sticky{
    width: 100%; 
    z-index: 999;
}

#logo{
    justify-content: flex-start;
    padding-left: 10px;
}

    .header-main-font {
        font-size: 17px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-menu-items{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        }
            .nav-menu-items i{
                color: white;
                margin: 0px 5px;
            }
            
            .nav-menu-items i:hover{
                color: #63635f;
                transition: color 1s;
            }

            .icon-bar::after {
                content: 'MENU';
                font-family: 'Poppins', sans-serif;
                padding-left: 9px;
                cursor: pointer;
                
            }
            .nav-menu-items li,
            .nav-menu-items > a {
                padding: 15px 0px;
                margin: 0px 30px;
                cursor: pointer;
                }

            .nav-menu-items li:hover{
                color: #cccccc;
                transition: color 1s;
            }    
            
            .bar-hide{
                display: none;
            }

            .subcontent{
                /* display: block; */
                display: none;
                position: absolute;
                top: 130px; 
                width: 420px;
                background-color: white;
                
            } 
     
            .subcontent > a{
                display: block;
                background-color: white;
                width: 48%;
                float: left;
                padding: 10px 10px 10px 10px; 
                color: black;
                text-decoration: none;
            } 
            
            .subcontent > a:hover{
                color: #09c778;
                transition: all 1s;
            }

            .home:hover .subcontent,
            .pages:hover .subcontent,
            .shop:hover .subcontent,
            .blog:hover .subcontent{
                /* neveikai transition kodel? */
                transition: all 1s;
                display: block;
              } 
              
@media (max-width: 1300px) {

    .nav-menu-items li,
    .nav-menu-items > a {
        margin: 0px 15px;
        }

}

@media (max-width: 1100px) {

    .nav-menu-items li,
    .nav-menu-items > a {
        margin: 0px 11px;
        }
}

@media (max-width: 900px) {
    .item-hide{
        display: none;
    }

    .bar-hide{
        display: flex;
    }

    .icon-bar::after {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 700px) {
    #container-main{
        padding: 20px 0px 0px 0px;
    }

.subnav:hover .subnavcontent {
    display: block;
  }
}
     



