/* https://www.w3schools.com/howto/howto_custom_select.asp */
#container-main{
    padding: 0px 0px;
}

.sticky{
    width: 100%; 
}

#logo{
    justify-content: flex-start;
    padding-left: 10px;
}

    .header-main-font {
        font-size: 17px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-menu-items{
        display: flex;
        list-style-type: none;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        }
                .nav-menu-items i{
                    color: white;
                    margin: 0px 5px;
                }
                
                .nav-menu-items i:hover{
                    color: #63635f;
                    transition: color 1s;
                }

                .icon-bar::after {
                    content: 'MENU';
                    font-family: 'Poppins', sans-serif;
                    padding-left: 9px;
                    cursor: pointer;
                  
                }
                .nav-menu-items li,
                .nav-menu-items a {
                    padding: 15px 0px;
                    margin: 0px 10px;
                    cursor: pointer;
                    }

                .nav-menu-items li:hover{
                    color: #cccccc;
                    transition: color 1s;
                }    
                .bar-hide{
                    display: none;
                }

                
@media (max-width: 900px) {

    .item-hide{
        display: none;
    }

    .bar-hide{
        display: flex;
    }

    .icon-bar::after {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-right: 15px;
    }

    .sticky{
        position: relative;
    }
}

@media (max-width: 700px) {
    #container-main{
        padding: 20px 0px 0px 0px;
    }

}



