#container-main{
    padding: 0px 0px;
}

.sticky{
    width: 100%; 
    z-index: 9;
}

#logo{
    justify-content: flex-start;
    padding-left: 10px;
}

    .header-main-font {
        font-size: 17px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        color: white;
        display: flex;
        /* align-self: center; */
        justify-content: flex-end;
        align-items: center;
        
    }

    .nav-menu-items{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        
        
        }
            .nav-menu-items i{
                color: white;
                margin: 0px 5px;
                
            }
            
            .nav-menu-items i:hover{
                color: #63635f;
                transition: color 1s;
            }
        
        .onemenu > a{
            text-decoration: none;
            color: white;
            
        }

            .icon-bar::after {
                content: 'MENU';
                font-family: 'Poppins', sans-serif;
                padding-left: 9px;
                cursor: pointer;
                
            }
            .nav-menu-items li{
                padding: 15px 0px;
                margin: 0px 30px;
                cursor: pointer;
                
                }
            
            .nav-menu-items li > a:hover{
                color: #cccccc;
                transition: color 1s;
            }    
            
            .bar-hide{
                display: none;
            }

            .expand{
                display: none;
            }
            
            .subcontent{
                display: none;
                /* display: flex; */
                flex-wrap: wrap;  
                flex-direction: column;
                position: absolute;
                top: 130px; 
                width: 370px;
                max-height: 214px;
                background-color: white;
                overflow: hidden;
                
            } 
                 
            .subcontent > a{
                min-width: 33%;
                background-color: white;
                flex-grow: 2;
                padding: 10px 5px 10px 5px; 
                color: black;
                text-decoration: none;
                line-height: 30px;
                
                
            } 
            
            .subcontent > a:hover{
                color: #09c778;
                transition: all 1s;
                
            }
            
            .onemenu:hover .subcontent{
                /* neveikai transition kodel? */
                transition: all 1s;
                display: flex;
              } 
                
              .box-search{
                  display: inline-block;
              }

                .box-search > a{
                    color: white;
                    margin-left:  30px;
                }
            
                .fa-search{
                    margin-right:  10px;
                }

@media (max-width: 1300px) {
    .nav-menu-items li,
    .nav-menu-items > a {
        margin: 0px 15px;
        }
}

@media (max-width: 1100px) {

    .nav-menu-items li,
    .nav-menu-items > a {
        margin: 0px 7px;
        }
}

@media (max-width: 900px) {
    .item-hide{
        /* display: none; */
    }

    .bar-hide{
        display: flex;
    }

    .icon-bar::after {
        display: flex;
        align-items: center;
        font-size: 15px;
        padding-right: 15px;
    }

    .nav-menu-items{
        display: block;
        background-color: tomato;
        position: absolute;
        top: 110px;
        width: 690px;
        /* margin-right: 5%; */
        margin-left: 5%;
        /* height: 100vh; */
    }

    .nav-menu-items > li{
        margin: 0px;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid saddlebrown;
    }

    .nav-menu-items > li > a{
        margin: 10px;
        line-height: 50px;
    }
    
    .expand{
        display: inline-block;
        float: right;
        background-color: greenyellow;
        

    }

    .expand > i{
        display: flex;
        justify-content: center;
        line-height: 50px;
        width: 50px;
        margin: 0;
        background-color: hotpink;

    }
    
    .subcontent{
        /* display: block; */
        width: 100%;
        max-height: none;
        position: relative;
        top: 0px;
        background-color: chartreuse;
        
    }
    .subcontent > a{
        display: block;
        width: 100%;
        border-bottom: 1px solid green;
        background-color: blue;
        
        /* position: absolute; */
        /* top: 110px; */

    }

    .header-main-font {
        display: flex;
        /* align-self: center; */
        justify-content: flex-end;
        align-items: center;
    }

}

@media (max-width: 700px) {
    #container-main{
        padding: 20px 0px 0px 0px;
    }

    .subnav:hover .subnavcontent {
        display: block;
    }

       .nav-menu-items{
            /* display: none; */
            display: block;
            width: 90%;
            margin: 0;
            left:50%;
            top: 60px; 
            transform: translate(-50%);
        }

            .item-hide{
                display: block;
            }

    .fa-search{
        display: none;
        margin-right:  20px;
    }
    .box-search > a{
        color: white;
    }
}
        



