.LatestProjectTitle {
    text-align: center;
    font-size: 35px;
}
.carousel {
    display: inline-block;
    width: 100%;
    background-color: red;
}
    .spacingImg {
        display: inline-block;
        width: 50%;
        padding: 100px 40px;
        text-align: center; 
    }
        .content {
            display: inline-block;
        }
        .list {
            display: inline-block;
            width: 100%;
        }
            .singleImg {
                display: inline-block;
                
            }

@media (max-width: 1300px) {
    .singleImg {
        width: 350px;
    }
}

@media (max-width: 1100px) {
    .singleImg {
        width: 440px;
    }
    .LatestProjectTitle {
        font-size: 30px;
    }
}
@media (max-width: 900px) {
    .singleImg {
        width: 343px;
    }
}
@media (max-width: 700px) {
    /* .singleImg {
        width: 643px;
    } */
}