.LatestProjectTitle {
    text-align: center;
}
.latestProjectImg {
}
    .singleImg {
        width: 100%;
    }

    .singleImg:hover {
        background-image: linear-gradient(0deg, #09c778, #01a0f9);
        -webkit-tap-highlight-color: transparent;
    }
