/* .LatestProjectTitle {
    text-align: center;
    font-size: 35px;
} */
.carousel {
    /* width: 100%; */
    /* background-color: red; */
}
    .spacingImg {
        width: 100%;
        padding: 80px 0;
        text-align: center; 
    }
        .content {
            
        }
        .list {
            display: flex;
            overflow: hidden;

        }
            .singleImg {
                margin-right: 30px;
                width: 413px;
                border-radius: 10px;
                
            }
            .singleImg:hover {
                background: linear-gradient(-41deg, #09c778, #01a0f9);
                cursor: pointer;
            }

@media (max-width: 1300px) {
    .singleImg {
        width: 350px;
    }
}

@media (max-width: 1100px) {
    .singleImg {
        width: 440px;
    }
    .LatestProjectTitle {
        font-size: 30px;
    }
}
@media (max-width: 900px) {
    .singleImg {
        width: 343px;
    }
}
@media (max-width: 700px) {
    /* .singleImg {
        width: 643px;
    } */
}