.bg-partner {
    background: url(../img/PartnersLogo/partner-bg.jpg);
}
    .partners-logo {
        /* margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px; */
    }
        .partners1, .partners2 {

        }
            .single-logo {
            }

