.recent-blog-post-box{
    
   }
    .recent-blog-post-single{}
        .recent-blog-post-picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
            .recent-blog-post-info{}
                li{}
                span{}
        h3{}
        p{}
        .recent-blog-post-button{}
